[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytricia = "*"
click = "*"
fire = "*"
pandas = "*"
numpy = "*"
consecution = "*"
minirdapc = {git = "https://github.com/cm2c-internet-measurements/minirdapc.git"}
PySnooper = "*"
petl = "*"

[dev-packages]

[requires]
python_version = "3.9"
